################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoachApp/CopilotIndices/17.14.698.11175
/.vs/CoachApp/v17
/.vs
